<title>Home Page</title>
{% extends "layout.html" %}
{% block content %}
<h2 class="title">Picky Eater</h2>

<form action="{{ url_for('review') }}" method=post>
    <div class="form_group">
        <label for="user_location">Address</label> <br />
        <input type="text" name=user_location />
    </div>
    <br />
    <div class="form_group">
        <label for="food">What kind of food?</label> <br />
        <input type="text" name=food />
    </div>
        <!-- <p class="heading">Address: <input type=text name=user_location></p>
        <p class="heading">What kind of food do you want?: <input type=text name=food></p> -->
        <p><input type=submit class="submit_button" value='Find it!'></p>
</form>




{% endblock %}