<title>Home Page</title>
{% extends "layout.html" %}
{% block content %}
<div class="h1 text-center text-dark">Picky Eater</div>
<div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
        <div class="card text-white bg-dark">
            <!-- <div class="card-header">LED State</div> -->
            <div class="card-body text-secondary">
                <form action="{{ url_for('review') }}" method=post>
                    <div class="form_group">
                        <label for="user_location" class="h3 text-info">Address</label> <br />
                        <input type="text" name=user_location />
                    </div>
                    <br />
                    <div class="form_group">
                        <label for="food" class="h3 text-info">What kind of food?</label> <br />
                        <input type="text" name=food />
                    </div>
                    <p><input type=submit class="btn btn-primary m-2" value='Find it!'></p>

                </form>
            </div>
        </div>

    </div>
    <div class="col-2"></div>
</div>




{% endblock %}