<title>Results</title>
{% extends "layout.html" %}
{% block content %}
<h2 class="title">Results:</h2>

<div>
    <p class="winner">It sounds like {{top[0][0]}} has some pretty good {{result.food}} in {{result.user_location}}</p>
    <p class="winner">Its score was: {{top[0][3]}}</p>
</div>
<div id="map">
</div>
<div>
    <p>Runner-ups were:
        <li class="runnerups">{{top[1][0]}} with a score of {{top[1][3]}}</li>
        <li class="runnerups">{{top[2][0]}} with a score of {{top[2][3]}}</li>
    </p>
</div>
<script>

    function initMap() {
        let topData = {{ top| tojson
    }}
    console.log(topData)

    const centerLoc = { lat: topData[0][1], lng: topData[0][2] };
    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 18,
        center: centerLoc,
    });

    const marker1 = new google.maps.Marker({
        position: { lat: topData[0][1], lng: topData[0][2] },
        map: map,
    });
    const marker2 = new google.maps.Marker({
        position: { lat: topData[1][1], lng: topData[1][2] },
        map: map,
    });
    const marker3 = new google.maps.Marker({
        position: { lat: topData[2][1], lng: topData[2][2] },
        map: map,
    });

    let markers = [marker1, marker2, marker3]
    // fit all markers in bounds
    let bounds = new google.maps.LatLngBounds();
    for (var i = 0; i < markers.length; i++) {
        bounds.extend(markers[i].getPosition());
    }
    map.fitBounds(bounds);

}</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&libraries=&v=weekly" async></script>
{% endblock %}